body {
    margin: 0;
    padding: 0;
    font: 12px/1.5 helvetica, arial, "Microsoft YaHei", \5b8b\4f53;
}

div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, blockquote, p {
    padding: 0;
    margin: 0;
}

table, td, tr, th {
    font-size: 12px;
}

ol, ul {
    list-style: none;
}

li {
    list-style-type: none;
}

img {
    vertical-align: top;
    border: 0;
    max-width: 100%;
    height: auto;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: normal;
}

address, cite, code, em, th, i, var {
    font-weight: normal;
    font-style: normal;
}

.clearfix {
    *zoom: 1;
}

.clearfix:after {
    display: block;
    overflow: hidden;
    clear: both;
    height: 0;
    visibility: hidden;
    content: ".";
}

a:link, a:visited {
    color: #000;
    text-decoration: none;
}

.header {
    min-width: 1024px;
    height: 60px;
    background-image: url("../image/bg.png");
    background-repeat: repeat-x;
}

.logo {
    width: 1000px;
    margin: 0 auto;
}

.content {
    width: 100%;
    height: 550px;
    margin: 0 auto;
    /*background: #ccc;*/
}

#jiekou {
    border: none;
    width: 100%;
    height: 550px;
}

#ckplays {
    background: #000;
    width: 1000px;
    margin: 10px auto;
}

.footer {
    width: 850px;
    font-weight: bold;
    text-align: center;
    color: #3c3f41;
    margin: 0 auto;
    padding: 20px;
}

.footer pre {
    float: left;
    line-height: 20px;
}

.cnzz {
    float: left;
    margin-top: 20px;
    margin-left: 20px;
    line-height: 20px;
}

#example-video {
    width: 905px;
    height: 507px;
    margin: 10px auto;
}

.searchs {
    width: 800px;
    margin: 0px auto;
    border-radius: 2px;
    color: #555;
    overflow: hidden;
}

.searchs .from {
    position: relative;
    display: inline-block;
    margin: 0 auto;
}

.searchs .text {
    float: left;
    padding: 4px 20px;
    width: 520px;
    height: 34px;
    outline: 0;
    border: none;
    background: #FFF;
    color: #333;
    font-size: 16px;
    line-height: 34px;
    margin-top: 10px;
}

.searchs .button {
    float: left;
    overflow: hidden;
    padding: 0 20px;
    height: 42px;
    background: #fdfdfd;
    border: none;
    border-left: 1px solid #ccc;
    color: #353535;
    font-weight: 400;
    font-size: 18px;
    cursor: pointer;
    margin-top: 10px;
}

#selectbox {
    float: left;
    height: 44px;
    margin-top: 9px;
    width: 61px;
    font-size: 15px;
}